body {
    text-align:center;
    background-color:bisque;
    font-family: 'Itim', cursive;
}

div {
    margin-top: 15px;

}

.image-section {
    display: flex;
    justify-content: center;
    
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
}
 
img {
    height: 550px;
    width: 550px;
    
}

.menu {
 position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}

.links {
    float: left;
     padding-top: 5px;
         padding-bottom:9px;
    padding-left: 5px;
    padding-right: 5px;
    
    
}

.links:hover {
    background-color: cornsilk;
}

img:hover{
    transform: scale(0.9);
    
}
a {
    
 text-decoration: none;
    color: palevioletred;
    text-shadow: 2px 2px gainsborow;

    
    
}